body{
	margin:0;
	padding:0;
	background: #E2E2E2;
	font-family: 'Ubuntu', sans-serif;
	
}
div#wrapper{
	height:100%;
	background-color:#e2e2e2;
	
}
div#header{
	background: url("images/header-image.png");
	height: 103px;
	/*font-family: 'Ubuntu', sans-serif;*/
	display:;
}
div#header ul{
	font-size:1.5em;
	color:#FFF;	
	margin: 0;
}
div#header li{
  display: block;
  height: 3em;
  margin: 0 3px;
  padding: 15px 7px;
  float: left;
  text-align: center;
  line-height: 3em;
}
div#header li + li{
	border-left:solid 1px #2f2f2f;
	height: 68px;

}
div#header li#else{
    display: block;
  height: 3em;
  margin: 0 3px;
  
    padding: 0px 7px;
  
  float: left;
  text-align: center;
  line-height: 3em;
}
div#header li a{
	color:#fff;
	text-decoration:none;
}
div#header li a:hover{
	color:#fff;
	text-decoration:underline;
}
.text{
	margin:50px;
}
.question{
	font-weight:bold;
}
#icon_center{
	margin-right:auto;
	margin-left:auto;
	width:187px;

}
#content{
	font-size: 1em;
}
div#content li{
	/*display:inline;*/
}
div#image_center{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	
}
#feature_list li{
	display:inline;
}
div#feature_list{
	width: 70%;
	margin-left: 15%;
	height: 30%;
}	
#three{
	width: 70%;
	margin-left: 18%;
	height: 30%;
}
#three_teams{
	/*width: 70%;*/
	/*margin-left: 18%;*/
	/*height: 30%;*/
}
.images{
padding-left:10px;

}
#three a{
	position: relative;
	line-height:1em;
	color:#000;
	text-decoration:none;
}
#three a:hover{
	color:#FFF;
	text-decoration:none;
}
#three h1{
	text-align: center;
}
#left {
width: 50%;
float: left;
padding-right: 20px;
}
#center {
position: relative;
/*width: 30%;*/
float: left;
padding-right: 20px;
}
#left_small {
width: 30%;
float: left;
padding-right: 20px;
}
#center_small {
position: relative;
width: 30%;
float: left;
padding-right: 20px;
}
#right {
width: 33%;
float: left;
}
#team_title_center{
width: 39%;
margin-left: auto;
margin-right: auto;
}
#team_title_center2{
width: 181px;
margin-left: auto;
margin-right: auto;
}
#team_title_center4{
width: 80%;
margin-left: auto;
margin-right: auto;
}
#team_title_center5{
width: 70%;
margin-left: auto;
margin-right: auto;
}
#team_title_center6{
width: 40%;
margin-left: auto;
margin-right: auto;
}
#team_title_center1{
width: 50%;
margin-left: auto;
margin-right: auto;
}
#trustee{

}
#three_projects{
font-size: 1.2em;
	/*border: 5px solid #fff;*/
}
#left_projects{
width: 30%;
float: left;
/*border: 5px solid #fff;*/
padding-right: 20px;
}
#center_projects {
position: relative;
width: 30%;
float: left;
/*border: 5px solid #fff;*/
padding-right: 20px;
}
#right_projects{
width: 33%;
float: left;
/*border: 5px solid #fff;*/
}
div#center ul {
	position: relative;
	margin: 0;
	padding: 0;
}
div#center li {
  display: block;
  position: relative;
  /*width: 50%;*/
  margin: 0;
  float: left;
  text-align: center;
  line-height: 3em;
}
div#center li a {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 3em;
}
#speech_info li{
	list-style-type: disc;
	display:list-item;

}

table       {
text-align:center;
/*width: 480px;*/

 border-collapse: collapse;
 padding-left: 10px; padding: 0px 0px 10px 10px; padding: 20px; background-color: #FFF; border: 1px solid #FFF;}
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 1px 1px 2px 2px; padding: 5px 5px 5px 5px;border: 1px solid #141414;}
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. */
 
tbody tr:nth-child(even) td, 
tbody tr.even td  { 
	background: #E8EDFF; 
	width:75px;
}
 tr.even:hover  { 
	background-color: #ccc; 
}
tfoot       { font-style: italic; }
caption     { background: #eee; }
 #search-box,
 #u1104-3rd-nav {
	background: #efefef; }
 #u1104-3rd-nav li {
	background:none!important; /* Remove important when legacy CSS is deleted. */
	border-right:1px solid #fff;
	border-left:1px solid #e6e6e6; }
#u1104-3rd-nav li:first-child {
	border-left:none; }
#u1104-3rd-nav {
	width:auto;
	float:none; }
a{
color:#4e7af9;

}
a:hover{
color:#8eabff;
}