<?php require_once('head.html'); ?>
<body>
<div id="wrapper">
  <?php require_once('header.html') ;?>
<div id ="content">
<div class="text">
<div id="three">
<div id="right">
</div>
<div id="icon_center">
<img src="static/images/wmlogo.png" height="187" width="180" alt="wintermute" id="winty_but"/>
</div>
<div class="question">Q: What is Wintermute?</div>

A: In popular media, there are often computers which can talk to and understand humans but, being computers, possess all of the computers qualities, such as speed of operation. Wintermute is a little like those systems, though with one core difference, it's not fictional!

<div class="question">Q: But what is Wintermute, really?</div>

A: Well, the full technical phrase to describe Wintermute is; “an intelligent/autonomous agent with NLP/G, semantic reasoning, networking capabilities, speech synthesis and recognition integrated into a user-facing environment.”
<div class="question">Q: What on earth does that mean?</div>

A: As I said, it was a bit technical, but lets break it down;
Intelligent/Autonomous agent: This refers to 'smart' software; a system for email that deals with spam and organizes your email into important items and non-important items is an example of such an 'agent' (though Wintermute will have far greater capabilities then this program). The 'Autonomous' designation refers to the programs ability to work in situations it was not explicitly designed to work in and, with the help of the 'Intelligent' designation, be able to find solutions to problems it encounters
NLP/G: NLP refers to the ability to use Natural Language Processing (NLP) to understand what is said to the system; natural language is the term used to describe human languages like English and divish. The 'G' refers to the ability for the computer to generate it and thus, talk back in natural language.
Semantic Reasoning: This would allow Wintermute to come to terms with the properties of a certain object; for example, if you are female, that is a property of you, and in the eyes of Wintermute, you are a user, a non-user or a guest; one of which is another property of you. By giving Wintermute this ability to understand the inherent properties of things, we grant it a basic level of reasoning.
Networking Capabilities::This refers to the AngelNet; a network layer that allows Wintermute to communicate with its parent organization, the Synthetic Intellect Institute as well as other Wintermute machines; by using such a network, Wintermute may upgrade itself or it's abilities.
Speech Synthesis + Speech Recognition:The first term refers to Wintermute's ability to create human-like speech through it's speakers. Speech recognition means that, using a microphone, Wintermute can understand what you speak without you having to type it in.


<div class="question">Q: That sounds difficult...so why build it?</div>

A: The human race, in 2010, generated over 5.5 exabytes (each exabyte is a billion gigabytes) of information: Legal information is doubling every five years, scientific information is doubling every three years and medical and technical information is doubling every two years; what's more, the speed of this doubling is increasing; it's expected that soon, technical information will double every six months. This amount of information is impossible for a human to keep track of; only a computer has any chance of doing so, and only Wintermute has any chance of understanding the information. It must be created to handle this situation.

Luckily, a great deal of work has already been done before Wintermute even existed, the Wintermute project, in many respects, simply involves wrapping up a large amount of already existing technology into one piece of software and by making Wintermute open-source, we can help a great number of people.
<div class="question">Q: What is open-source? Like I can open the source?</div>

A: Open-source means that the source code, which are the basic building blocks of any software, can be modified by anyone; it can (and in this case, does) mean the code is free to use.
<div class="question">Q: If it's so brilliant, why aren't you selling it, then? Why make it open-source?</div>

A: Because we wish to help everyone we can, not just those who can afford this technology.
<div class="question">Q: Will Wintermute work on Windows/Mac/Linux?</div>

A: Not in the way you'd like; you see, there are problems; Wintermute and the other technologies it uses are classed as A.I technology and such technology has a way of sucking up large amounts of computer resources.
<div class="question">Q: So it won't run as an application, then?</div>

A: Not when it's fully developed, no; the requirements for Wintermute to completely run on a given system are so high, Wintermute will have to run as an operating system. The technology is simply too advanced and too big to run under another operating system.
<div class="question">Q: Why not?</div>

A: To give an example, look at speech recognition; to have a fully functional speech recognition system that can understand a single user and respond in a matter of seconds rather then hours requires at least 50 gigabytes of data from training the system to recognize the user's voice and around a gigabyte of RAM to actually run in a realistic time-frame. The system would get far more complex if the user wasn't in a quiet room with only them speaking. Imagine adding more users to that system at 50 gigabytes each, imagine that system having to work in a noisy environment (and thus requiring more resources to filter out sound from speech) or working in an environment where multiple people are talking to the system at the same time. Speech recognition is but one of many components of Wintermute; now you see why running Wintermute as an operating system is needed.

<div class="question">Q: Right, so let me get this straight; you are building a program that talks (and to a degree thinks) like a human, that is incredibly powerful and complex, with the goal of giving it away for nothing? Are you mad?</div>

A: Yes to the first question, no to the second: this is not a 'luxury' technology, this is very much a technology which will become an every-day necessity in the very near future.

<div class="question">Q: Alright, this sounds like an adventure, where do I sign up?</div>

A: You can join us on #sii on IRC in the Freenode network for a chat with the team, or if you wish to learn in a more direct way, speak to Jacky Alcine (JackyAlcine) or Dante Ashton (MasterComputer) You can, if you so choose, become a member of Wintermute's parent organization, the S.I.I by showing persistant interest in this and the other projects related to the Institute.
</div>
</div>
</body>
</html>

<script type="text/javascript">
		$(document).ready(function() {
		$('#winty_info').hide();
		$('#speech_info').hide();
		$('#aleph_info').hide();
		$('#winty_but').click(function() {
			$('#winty_info').toggle('medium', function() {
			// Animation complete.
			});
		});
		$('#aleph_but').click(function() {
			$('#aleph_info').toggle('medium', function() {
			// Animation complete.
			});
		});
		$('#speech_but').click(function() {
			$('#speech_info').toggle('medium', function() {
			// Animation complete.
			});
		});
			/*$(document).ready(function() {
				$.featureList(
					$("#tabs li a"),
					$("#output li"), {
						start_item: 0
					}
				);*/
			});
		</script>

