<?php require_once('head.html'); ?>
<body>
<div id="wrapper">
  <?php require_once('header.html') ;?>
<div id ="content">
<div class="text">
<h1>Our Purpose</h1>

<p>
For almost the entire history of the field of Artificial Intelligence, it has rarely ventured outside of academia and high-level enterprise and governmental work. The 1970’s and 80’s saw a large amount of A.I companies that were geared towards serving smaller businesses fail. This is because A.I itself requires a vastly different model of development then standard commercial approaches often allow; it requires a model more often found in scientific discovery then the standard business approaches of deadlines and “It’s good enough, let’s ship it.”
<br/><br/>
Sadly, few organizations take the scientific approach, and most work in the field (when done outside of University laboratories) ends up being performed by bigger companies who, whilst they can operate on the commercial model, cannot devote themselves to A.I and must work on it as one would work on a side-project. Even when they do, they cannot directly target it for domestic uses.
<br/><br/>
We consider this a problem. A big problem. A.I is perhaps the most flexible technology ever developed by humanity. It is the only field that seeks to replace and augment the human mind. Advances have covered everything from automated scientists; capable of new discoveries to automated musicians; capable of writing and performing music with a similar level of skill to Mozart. 
<br/><br/>
This technology is simply a natural evolution of our increasingly automated world; it is virtually required in order to process and understand the huge amounts of information we, as a species, generate. It’s development is unavoidable.
<br/><br/>
However, we feel that if the technology is developed by for-profit organizations; whom value wealth more then they value the society these increasing intelligent tools serve, then the technology in question would be used against humanity, rather then operating for and alongside us.
<br/><br/>
As such, we believe that the open-source methodology of developing A.I. technology is a far more maintainable method then commercial approaches. We also believe, considering the large social impact that such technology entails that by operating freely from the many restrictions that often stifle a for-profit project, we are capable
<br/><br/>
Since this realization, we formed the Synthetic Intellect Institute; a non-profit entity serving a community, revolving around artificial intelligence and it’s deployment and use within our world, for the benefit of everyone.
</p>



</div>
</div>
</div>

</div>
</body>
</html>
