<?php require_once('head.html'); ?>
<body>
<div id="wrapper">
  <?php require_once('header.html') ; ?>
<div id ="content">
<div class="text">
<div id="three_teams">
<div id="left_small">
<div id="image_center"><img src="static/images/dev-logo.png" alt="developers logo" height="187" width="180"/></div>
<div id="team_title_center1"><h1>Development</h1></div>
<p>
The term development can be dissected into two different fields of development here at the Institute. 
<a href="http://en.wikipedia.org/wiki/Web_development">Web development</a> and <a href="http://en.wikipedia.org/wiki/Software_development">software development</a> happen to be the two prevailing forms. 
We encourage developers interested in the Institute's community and those within the Institute already to assist the process:
 either introduce your own project to be branded by the Institute or help a current project flourish to its full complexity. 
 Languages used here are all supported, ranging from C++, C, Python for desktop publishing and PHP, HTML, CSS, and JavaScript 
 for web development. 
Jacky Alcine is the CDO (chief development officer) of the Institute; feel free to contact him regarding anything development-related.
<br/>
<!--<a href="joining.html" >Learn More</a>-->
</p>
</div>
<div id="center_small">
<div id="image_center"><img src="static/images/psi-logo.png" alt="developers logo" height="187" width="180"/></div>
<div id="team_title_center2"><h1>Psychology</h1></div>
<p>
The Psychology team focuses
          on the interaction between human and machine. Led by Danté
          Ashton, this team is often responsible for high-level design
          decisions regarding each system produced by the Institute.
          They work closely with the development team to ensure the
          Institutes's projects are not only designed to be of the
          highest possible quality, but also of highest-quality
          usability. Dealing with everything from UI and system design
          to laying down blueprints for new projects to dealing with the
          ethical concerns of Artificial Intelligence; the Psychology
          team are a top-notch squad of thinkers, designers and
          philosophers who are fully committed to furthering the
          Institute.
</p>
</div>
<div id="right">
<div id="image_center"><img src="static/images/admin-logo.png" alt="developers logo" height="187" width="180"/></div>
<div id="team_title_center"><h1>Administration</h1></div>
<p>
The Admin team, led by Phill Whiteside, can be simply described as the oil that ensures the gears of the Institute due not grind to a halt. 
Be it web development, server administration or gathering resources for the other teams, the Admin team are responsible for it. 
Whilst Administration is atypically dull, the Institutes's Admin staff find themselves dealing with the wacky and weird workload 
the Institute puts upon them. A sense of humor and a desire to learn are essential qualities for anyone considering joining the team. 
If another of the Institutes's teams interest you, you are in a great position to find out more about them with a view to joining.

<br/>
</p>
</div>
</div>
<div id="trustee">
<!--<h1>Trustees</h1>-->






</div>
</div>

</div>

</div>
</body>
</html>
